/*--------------------(  Default CSS  )--------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

/* destroy Scrollbar */
::-webkit-scrollbar {
    display: none;
}


body {
    height: 100svh;
}

/* Sample Fonts */
@font-face {
    font-family: "poppins-light";
    src: url("../assets/fonts/Poppins-Light.ttf");
}
  
@font-face {
    font-family: "lora";
    src: url("../assets/fonts//Lora-VariableFont_wght.ttf");
}

@font-face {
    font-family: "poppins-bold";
    src: url("../assets/fonts/Poppins-Bold.ttf");
}

/*--------------------(  colors  )--------------------*/
:root {
    --color-white: #f9f9f9;
    --NavColor:#215064;
    --NavColor-hover: #C4E8EF;
    --color-black: #232323;
    --color-grey: rgb(106, 105, 105);
    --table-container-color: #215064;
    --color-red: rgba(194, 15, 15, 0.63);
    --color-second-red: rgba(255, 15, 15, 0.694);
    --color-maroon: #B42424;
    --NavText-color: #215064;
    --color-green: #24B472;
    --color-blue: #2196F3;
    --color-yellow: #FF9800;
}

/*--------------------(  back button  )--------------------*/
.back-btn {
    display: flex;
    align-items: center;
    font-family: poppins-bold;
    font-size: clamp(1.1rem, 5vw, 1.3rem);
    padding: 5px;
    border: none;
    background-color: var(--NavColor);
    color: var(--color-white);
    border-radius: 20px;
}

.back-btn:hover {
    transition: all .3s ease;
    background-color: var(--color-green);
}

.back-btn:active {
    transform: scale(0.90);
}

/*--------------------(  Common CSS  )--------------------*/
/* navbar */
.nav-bar {
    /* position: fixed; */
    font-family: poppins-bold;
    font-size: clamp(1.1rem, 5vw, 1.1rem);
    width: 100%;
    background-color: var(--NavColor);
    padding: 20px;
}
.nav-bar h2 {
    margin-left: 50px;
    color: var(--color-white);
}

/* sidebar */
.sidebar {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 56px;
    height: 100%;
    background: var(--NavColor);
    transition: width 0.4s;
    z-index: 100;
}
 .sidebar.open {
    width: 260px;
 }
 .sidebar .inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 260px;
 }
 .sidebar header {
    display: flex;
    align-items: center;
    background: var(--NavColor);
}
 /* buton menu and close */
 .sidebar-burger {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 13px;
    font-size: 30px;
    background: none;
    border: none;
    color: var(--color-white);
 }

 .sidebar-burger:hover {
    transition: all .3s ease;
    color: var(--NavColor-hover);
 }

.sidebar-burger:active {
    transform: scale(0.90);
}

.sidebar nav {
    display: grid;
    padding: 6px;
    gap: 2px;
}
.sidebar nav > button {
    display: flex;
    gap: 12px;
    align-items: center;
    height: 44px;
    width: 44px;
    font-family: "Poppins";
    font-size: 20px;
    line-height: 1;
    padding: 0 12px;
    border-radius: 8px;
    background: none;
    color: var(--color-white);
    border: none;
    font-weight: 600;
}
.sidebar nav > button:hover {
    background: var(--NavColor-hover);
    color: var(--color-black);
    transition: all ease .3s;
}
.sidebar header > img, 
.sidebar nav > button p {
    opacity: 0;
    transition: 0.3s;
}
.sidebar.open nav > button {
    width: 100%;
}
.notxt span {
    display: none;
}

/* .logout {
    margin-top: 450px;
} */

.sidebar-title-container {
    padding: 5px;
}

.sidebar-title {
    margin: auto;
    border-radius: 5px;
    height: 80px;
    /* width: 100px; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    gap: 10px;
    
}

.sidebar-title h2 {
    font-family: poppins-bold;
    font-size: clamp(1.1rem, 5vw, 1.1rem);
    color: var(--color-white);
}

.sidebar-img {
    margin: auto;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    background-color: var(--color-white);
    border-radius: 50%;
}

.sidebar-img img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}   

/*--------------------(  Graph  )--------------------*/
.graphs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin-top: 90px; */
    z-index: -1;
}

.graph-layer1, .graph-layer2 {
    display: flex;
    align-items:center;
    justify-content: center;
    height: 300px;
    gap: 50px;
    width: 100%;
}


.gender,.blood {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--NavColor-hover);
    padding: 10px;
    border-radius: 20px;
    height:100%;
    max-height: 280px;
    width: 400px;
}

.age, .allergies {
    background-color: var(--NavColor-hover);
    padding: 30px;
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
}

/*--------------------(  Paients  )--------------------*/
.patient {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    margin-left: 3.5em;
    /* margin-top: 85px; */
    padding: 10px;
    /* height: 100svh; */
}

/* patient layer 2 */
.patient-layer1 {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.number-of-patients, .gender-count {
    background-color: var(--NavColor-hover);
    padding: 20px;
    border-radius: 20px;
}

.number-of-patients h3 {
    font-family: poppins-light;
    font-size: clamp(1.1rem, 5vw, 1.1rem);
    font-weight: 600;
}

.number-of-patients p {
    font-family: poppins-bold;
    font-size: clamp(1.1rem, 5vw, 1.5rem);
}

.gender-count {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.gender-count .gender-count-male h3, .gender-count .gender-count-female h3 {
    font-family: poppins-light;
    font-size: clamp(1.1rem, 5vw, 1.1rem);
    font-weight: 600;
}

.gender-count .gender-count-male p, .gender-count .gender-count-female p {
    font-family: poppins-bold;
    font-size: clamp(1.1rem, 5vw, 1.5rem);
}

/* patient layer 2 */
.patient-layer2 {
    background: var(--table-container-color);
    padding: 10px;
    border-radius: 10px;
}

.patient-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-patient {
    display: flex;
    align-items: center;
    gap: 10px;
}

.patient-header button {
    background-color: var(--color-white);
    font-family: poppins-bold;
    font-size: clamp(1rem, 5vw, 1rem);
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: var(--color-black);
}

.patient-header button:hover {
    transition: all .3s ease;
    background-color: var(--NavColor-hover);
}

.patient-header button:active {
    transform: scale(0.90);
}

.search-bar {
  display: inline-block;
  position: relative;
  background-color: var(--color-white);
  border-radius: 20px;
  
}

.search-bar input {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    transition: width 0.3s ease;
    background-color: var(--color-white);
    border: none;
    font-family: poppins-light;
}
  
.search-bar input:focus {
    width: 300px; 
    border-color: var(--NavColor);
    outline: none;
}

.search-bar .icon {   
    margin-top: 10px;
    margin-left: 10px;
}

/* patient tables */
.patient-tables {
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 5px;
}

.patient-tables table {
    width: 100%;
}

.patient-tables th {
    font-family: poppins-bold;
    color: var(--color-black);
}

.patient-tables th,.patient-tables tr,.patient-tables td {
    /* border: 1px solid var(--table-container-color); */
    border-radius: 5px;
    padding: 5px;
}

.patient-tables tr,.patient-tables td {
    font-family: poppins-light;
    padding: 3px;
    transition: all .2s ease-out;
    text-align: left;
    font-size: clamp(0.3rem, 5vw, 0.8rem);
}

.patient-tables th:nth-child(8),.patient-tables td:nth-child(8) {
 display: flex;
 align-items: center;
 justify-content: space-evenly;
}

.patient-tables td:nth-child(8) button {
    padding: 2px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    border: none;
    background-color: var(--table-container-color);
    border-radius: 2px;
}

.patient-tables td:nth-child(8) button:hover {
    transition: all .3s ease;
    background-color: var(--color-second-red);
}

.patient-tables td:nth-child(8) button:active {
    transform: scale(0.85);
}

.patient-tables tr:hover {
    background-color: var(--NavColor-hover);
}

.patient-tables td:hover {
    color: var(--color-black);
}

/*--------------------(  Modal  )--------------------*/
/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden; /* Prevent scrolling */
}

/* Modal Content */
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 400px;
  max-width: 90%;
}

.modal-txt {
     text-align: center;
}

.modal-txt .icon2 {
    font-size: clamp(1.1rem, 5vw, 4rem);
}

.modal-txt .icon3 {
    font-size: clamp(1.1rem, 5vw, 4rem);
    color: var(--color-maroon);
}
.modal-txt h3 {
    font-family: poppins-bold;
}

.modal-txt p {
    font-family: poppins-light;
    font-weight: 600;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--color-red);
    transition: all .2s ease;
  }

  .modal-close:hover {
    color: var(--color-second-red);
  }

  .modal-close:active {
    transform: scale(0.85);
}

.modal-btn {
    display: flex;
    align-items: center;
    gap: 20px;
}

.modal-btn2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.modal-btn3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* modal button 1 */
.modal-btn button {
    font-family: poppins-bold;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: var(--color-white);
    letter-spacing: 1px;
    cursor: pointer;
}

.modal-btn button:nth-child(1):hover, .modal-btn button:nth-child(2):hover, .modal-btn button:nth-child(3):hover {
    color: var(--color-black);
    transition: all .3s ease;
    background-color: var(--NavColor-hover);
}

.modal-btn button:active, .modal-btn2 button:active, .modal-btn3 button:active {
    transform: scale(0.85);
}

.modal-btn button:nth-child(1) {
    background-color: var(--color-green) ;
}
.modal-btn button:nth-child(2) {
    background-color: var(--color-blue) ;
}
.modal-btn button:nth-child(3) {
    background-color: var(--color-yellow) ;
}

/* modal button 2 */
.modal-btn2 button {
    font-family: poppins-bold;
    font-size: clamp(1.1rem, 5vw, 1.5rem);
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: var(--color-white);
    letter-spacing: 1px;
    cursor: pointer;
}

.modal-btn2 button:nth-child(1) {
    background-color: var(--color-grey) ;
}

.modal-btn2 button:nth-child(2) {
    background-color: var(--color-maroon) ;
}

.modal-btn2 button:nth-child(1):hover, .modal-btn2 button:nth-child(2):hover {
    transition: all .3s ease;
    background-color: var(--color-second-red);
}

/* modal button 3 */
.modal-btn3 button {
    font-family: poppins-bold;
    font-size: clamp(1.1rem, 5vw, 1rem);
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: var(--color-white);
    letter-spacing: 1px;
    cursor: pointer;
}

.modal-btn3 button:nth-child(1) {
    background-color: var(--color-green) ;
}

.modal-btn3 button:nth-child(2) {
    background-color: var(--color-blue) ;
}

.modal-btn3 button:nth-child(1):hover, .modal-btn3 button:nth-child(2):hover {
    transition: all .3s ease;
    background-color: var(--NavColor-hover);
    color: var(--color-black);
}

/*--------------------(  medical records  )--------------------*/
.medical-records {
    padding: 10px;
}

.medical-records .container {
    background-color: var(--NavColor);
    border-radius: 10px;
    padding: 10px;
}

.medical-records .container h2 {
    font-family: poppins-light;
    font-size: clamp(1.1rem, 5vw, 1.1rem);
    color: var(--color-white);
}

.medical-records .container table {
    width: 100%;
    /* border-collapse: collapse; */
}
.medical-records .container td {
    padding: 5px;
    vertical-align: middle;
}

.medical-records .container td:nth-child(odd) {
    text-align: right;
    width: 15%;
    color: var(--color-white);
    font-family: poppins-bold;
    font-size: clamp(.1rem, 5vw, .8rem);
  }

.medical-records .container td {
    border: 1px solid var(--color-white);
}

.medical-records .container td input, .medical-records .container td select {
    font-family: poppins-light;
    color: var(--color-black);
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color-white);
    /* background-color: var(--NavColor); */
}


.medical-records .container tr:nth-child(1) td input {
    width: 100%;
}


.medical-records .container form table .checkbox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.medical-records .container form table .checkbox .checkbox-cont input {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: none;
    width: 100%;
}

.medical-records .container form table .checkbox .checkbox-cont input[type="checkbox"] {
    margin-right: 5px;
    transform: scale(1.2); /* Makes the checkboxes slightly larger */
    cursor: pointer;
  }


.checkbox-cont {
    font-family: poppins-light;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    color: var(--color-white);
}   

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 5px; /* Spacing between the title and options */
  }
  
  .checkbox-group h3 {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #333;
  }
  
  .checkbox-option {
    display: flex;
    align-items: center;
    gap: 8px; /* Spacing between checkbox and label */
  }
  
  .checkbox-option input[type="checkbox"] {
    transform: scale(1.5); /* Adjust size of checkboxes */
    cursor: pointer;
  }
  


  /* Title styling */
  .checkbox-title h3 {
    font-family: poppins-light;
    color: var(--color-white);
    font-size: 16px;
    font-weight: bold;
    text-align: left;
  }
  
  /* Group containing checkbox options */
  .checkbox-group {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    font-family: poppins-light;
    color: var(--color-white);
  }
  














































/*--------------------(  Screen Sizing CSS  )--------------------*/
/********** Media Queries **********/

/********** desktop **********/
@media (min-width: 992px) {
    /* .main-container {
        width: 500px;
        margin: auto;
    } */
}